.header {
    background-color: white;
    box-shadow: 0 1px 2px #aaa;
    height: 50px;
}

.li {
    float: left;
    list-style: none;
    margin-right: 10px;
    height: 50px;
}

.li-right {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

.li a {
    text-decoration: none;
    color: var(--theme-color);
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0.875rem;
    padding-top: 17px;
}
.li button {
    font-size: 0.875rem;
    color: var(--theme-color);
    height: 100%;
    background-color: transparent;
    border: none;
}

.author {

}

.author p {
    display: none;
    float: left;
    margin-right: 10px;
    padding-top: 19px;
}

.author img {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    float: right;
}

@media screen and (min-width: 512px) {
    .author p {
        display: block;
        font-size: 0.75rem;
        color: var(--theme-color);
    }
}