.container h1 {
    font-weight: bold;
    font-size: 1rem;
    color: var(--font-color);
    text-align: center;
    margin-bottom: 20px;
}

.container li {
    list-style: none;
    border: 1px solid var(--theme-color);
    border-radius: 3px;
    margin-bottom: 10px;
}

.container img {
    width: 50px;
    height: 50px;
    margin: 20px auto;
}

.user-name {
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.results p {
    margin-bottom: 3px;
}

.value {
    text-align: right;
    color: var(--theme-color);
}

.label,
.value {
    font-size: 0.875rem;
}

.score {
    font-weight: bold;
    font-size: 1rem;
}